<nav class="site-nav">
    <div class="logo">
     over the digital wall
    </div>
    <a href="#" class="hamburger" id="nav-toggle"><span></span></a>
    <div class="links" id="nav-links">
      <a href="index.html"> home </a>
      <a href="work.html"> work </a>
      <a href="about.html"> about </a>
    </div>
  </nav>